processed_clips/
downloaded_videos/
predictions_images/
.DS_Store
split_times_inspection/
training_data_inspection/
*.npy
*.npz
*.csv
*.html
runs/
artifacts/
__pycache__/
*.json
!.vscode/settings.json

question_grok.txt